<!-- <nav>
  <a routerLink="/dodajpravilo" routerLinkActive="active">Pravila</a>
  &nbsp;
  <a routerLink="/pravila" routerLinkActive="active">Pravila</a>
</nav>
<router-outlet></router-outlet> -->

<!-- Main container-->
<div class="main">
  <header class="navhdr">
      <div>
          <button class='btn btn-info' (click)="toggle()" id="bt">
              {{ buttonName }}
          </button>
      </div>
      <span>&nbsp;</span>
      <div>
          <button class='btn btn-info' (click)="toggleOdds()" id="bt1">
              {{ buttonOdds }}
          </button>
      </div>
      <div style="text-align:right; min-width: 80%;">
          <h2>Refreshing in: {{ a }} <Button class='btn btn-success' (click)="getOdds()">Refresh</Button></h2>
      </div>
  <div>
    <ng-container *ngIf="show">
      <app-insert></app-insert>
    </ng-container>
  </div>
  </header>
  <div class="box">
      <ng-container *ngIf="showodds">
        <section class="showme">  <!-- LIJEVA STRANA-->
          <div class="row">
              <div class="flex__item flex-cdate header">Time</div>
              <div class="flex__item header">Home Team</div>
              <div class="flex__item header">1</div>
              <div class="flex__item header">2</div>
              <div class="flex__item header">Away Team</div>
          </div>
          <div class="row" *ngFor="let team of teams; let idx = index; trackBy: trackElement">
              <div class="flex__item flex-cdate">{{ team.dtime }}</div>
              <div class="flex__item">{{ team.hometeam }}</div>
              <div class="flex__item">
                <div class="row1">
                  <div id="blinkodd1o-{{idx}}" class="flex__item1">{{ team.o_ah1 }}</div>
                  <!-- <input (change)="test()" class="flex__item1" id="ch1" type="text" value='{{team.c_ah1}}'> -->
                  <span id="blinkodd1c-{{idx}}" [ngStyle]="{'color':team.o_ah1 > team.c_ah1 ? 'yellow' : 'blue' }">{{ team.c_ah1 }}</span>
                </div>
              </div>
              <div class="flex__item">
                <div class="row1">
                  <div id="blinkodd2o-{{idx}}" class="flex__item1">{{ team.o_ah2 }}</div>
                  <span id="blinkodd2c-{{idx}}" [ngStyle]="{'color':team.o_ah2 > team.c_ah2 ? 'yellow' : 'blue' }">{{ team.c_ah2 }}</span>
                  <!-- <div id="target" [ngStyle]="{'color':team.o_ah2 > team.c_ah2 ? 'yellow' : 'blue' }">{{ team.c_ah2 }}</div> -->
                </div>
              </div>
              <div class="flex__item">{{ team.awayteam }}</div>
          </div>
        </section> <!--END LIJEVA STRANA-->
      </ng-container>
    <div>
      <section class="showme">  <!-- DESNA STRANA-->
        <app-tiket></app-tiket>
      </section>
    </div>
  </div>  <!-- END BOX CONTAINER-->
</div> <!-- END MAIN CONTAINER-->
<!-- <div class="row" *ngFor="let team of teams1 | keyvalue">
    <div class="flex__item header">Home Team</div>
  <div class="flex__item">{{ team.key }}</div>
  <div class="flex__item">{{ team.value.hometeam }}</div>
</div> -->

