<!-- <nav>
  <a routerLink="/dodajpravilo" routerLinkActive="active">Pravila</a>
  &nbsp;
  <a routerLink="/pravila" routerLinkActive="active">Pravila</a>
</nav>
<router-outlet></router-outlet> -->

<!-- Main container-->
<div class="main">
  <header class="navhdr">
      <div>
          <button class='btn btn-info' (click)="toggle()" id="bt">
              {{ buttonName }}
          </button>
      </div>
      <span>&nbsp;</span>
      <!-- <div>
          <button class='btn btn-info' (click)="toggleOdds()" id="bt1">
              {{ buttonOdds }}
          </button>
      </div> -->
      <span>&nbsp;</span>
      <div>
          <button class='btn btn-info' (click)="toggleTiket()" id="bt2">
              {{ buttonTiket }}
          </button>
      </div>
      <div style="text-align:right; min-width: 80%;">
          <h2>Refreshing in: {{ a }} <Button class='btn btn-success' (click)="getOdds()">Refresh</Button></h2>
      </div>
  <div>
    <ng-container *ngIf="show">
      <app-insert></app-insert>
    </ng-container>
  </div>
  </header>
  <div class="box">
    <div>
      <ng-container *ngIf="showtiket">
        <app-tiket></app-tiket>
      </ng-container>
    </div>
    <div>
      <ng-container *ngIf="showuotiket">
        <app-tiketuo></app-tiketuo>
      </ng-container>
    </div>
  </div>  <!-- END BOX CONTAINER-->
</div> <!-- END MAIN CONTAINER-->
<!-- <div class="row" *ngFor="let team of teams1 | keyvalue">
    <div class="flex__item header">Home Team</div>
  <div class="flex__item">{{ team.key }}</div>
  <div class="flex__item">{{ team.value.hometeam }}</div>
</div> -->

